<form class="form confirmation">
    <h2 class="form__title">Аутентификация</h2>
    <p class="form__description">Введите пароль для подтверждения того, что вы являетесь родителем.</p>
    <div class="form__inputs">
        <label class="form__input" id="form__input-password">
            <span class="form__input-title">Пароль</span>
            <input type="password" placeholder="•••••••••" name="password">
            <span class="form__input-error"></span>
        </label>
    </div>

    <div class="form__footer">
        <button class="form__submit" type="submit">Войти</button>
    </div>

</form>