<form class="form login">
    <h2 class="form__title">Авторизация</h2>
    <div class="form__inputs">
        <label class="form__input" id="form__input-email">
            <span class="form__input-title">Почта</span>
            <input type="text" placeholder="example@mail.ru" name="email">
            <span class="form__input-error"></span>
        </label>
        <label class="form__input" id="form__input-password">
            <span class="form__input-title">Пароль</span>
            <input type="password" placeholder="•••••••••" name="password">
            <span class="form__input-error"></span>
        </label>
    </div>

    <div class="form__footer">
        <button class="form__submit" type="submit">Войти</button>
        <p class="form__ref">Еще нет аккаунта? <a class="dsfsdfs" data-redirect-to="register">Регистрация.</a></p>
    </div>

</form>