<form class="form register">
    <h2 class="form__title">Регистрация</h2>
    <div class="form__inputs">
        <label class="form__input" id="form__input-email">
            <span class="form__input-title">Почта</span>
            <input type="text" placeholder="example@mail.ru" name="email">
            <span class="form__input-error"></span>
        </label>
        <label class="form__input" id="form__input-password">
            <span class="form__input-title">Пароль</span>
            <input type="password" placeholder="•••••••••" name="password">
            <span class="form__input-error"></span>
        </label>
        <label class="form__input" id="form__input-password_confirm">
            <span class="form__input-title">Подтвердите пароль</span>
            <input type="password" placeholder="•••••••••" name="password_confirm">
            <span class="form__input-error"></span>
        </label>
    </div>

    <div class="form__footer">
        <button class="form__submit" type="submit">Регистрация</button>
        <p class="form__ref">Уже есть аккаунт?<a data-redirect-to="login">Авторизация.</a></p>
    </div>

</form>